h1 {
    font-size: 30px;
    align: center
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/icons/buddybg.jpg");
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}
}

html {
    margin:    0 auto;
    max-width: 650px;
}

.item-list {
    text-align:center;
    width: 83%;
    background-color: white;
}
