h1 {
    font-size: 30px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/icons/raptor.jpg");
    min-height: 200%;
background-repeat: repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;}
}

html {
    margin:    0 auto;
    max-width: 650px;
}

.item-list {
    width: 90%;
    background-color: white;
}
