h1 {
    font-size: 30px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/icons/raptor.jpg");
    background-attachment: fixed;
    background-size: 150px;

}

html {
    margin:    0 auto;
    max-width: 650px;
}

.item-list {
    width: 80%;
    background-color: white;
}
